body, * {
	margin: 0;
	padding: 0;
}

#parent {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%);
	background-color: aquamarine;
	width: 500px;
	height: 300px;
}


#calc {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%);
}

#loading-bar {
	position: absolute;
	background-color: grey;
	border-radius: 1rem;
	left: 50%;
	top: 30px;
	height: 10px;
	width: 400px;
	overflow: hidden;
	transform: translate(-50%);
}

#progress
{
	width: 100%;
	height: 100%;
	background-color: lime;
	/* border-radius: 1rem; */

}
input
{
	width: 100px;
}

#level-div
{
	position: absolute;
	left: 0;
	bottom: 0;
}

#found-div
{
	position: absolute;
	right: 0;
	bottom: 0;
}