body, *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.header{
    width: 100vw;
    height: 100vh;
    position: relative;
    width: 100%;
}

div.nav-right,
div.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

a.men{
    text-decoration: none;
    height: 50px;
    cursor: pointer;
    color: black;
    background-color: white;
    font-weight: 900;
    padding: 10px;
    margin: 10px;
    font-size: 25px;
    border-radius: 10px;
}

a.men:hover{
    background-color: #09a766;
}

#logo{
    width: 100px;
    height: 80px;
}

img.header-img{
    z-index: -1;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

div.container{
    background-color: #09a766;
    display: flex;
    flex-direction: column;
    width: 100%;
}

div.bottom,
div.top{
    display: flex;
    flex-direction: row;
}

div.left{
    color: white;
    padding: 100px;
    font-size: 100px;
}

div.left,
div.right{
    width: 50%;
}

div.right{
    margin: 5px;
    margin-left: 0;
}

img.network{
    height: 100%;
    margin-right: 20px;
    width: 100%;
    background-color: white;
}

p.info{
    width: 100%;
}

img.lf{
    width: 50px;
    height: 100%;
}
.bottom{
    justify-content: space-between;
}

div.element{
    border-radius: 50%;
    background-color: white;
    width: 300px;
    height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

div.element >p{
    font-weight: bold;
    font-size: 18px;
    color: #1d1d1d;
    margin: auto auto;
}

.lf.m{
    margin-left: 10px;
    border-radius: 50%;
}

.informations {
    text-align: center;
    border-radius: 50px;
    background-color: white;
    color: black;
    font-weight: 900;
    width: 500px;
    height: auto;
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}

.informations >p{
    padding: 20px;
}

@media (max-width: 1015px){
    div.left{
        font-size: 35px;
    }
}

@media (max-width: 510px)
{
    div.element{
        margin: 5px;
        width: 100%;
        height: 100px;

    }
    div.left{
        font-size: 30px;
    }


    div.top{
        flex-direction: column;
    }

    div.top .left{
        width: 100%;
    }

    div.top .right{
        width: 100%;
    }

    div.bottom{
        flex-direction: column;
    }

    .informations >p{
        font-size: 15px;
    }

    .informations{
        width: 250px;
    }
    a.men{
        font-size: 15px;
    }

    img.network{
        margin-right: 0;
    }
}
