form
{
	width: 440px;
	padding: 25px;
	margin: auto;
	border: 5px solid #aaa;
	border-radius: 15px 15px;
	background-color:  aquamarine;
}

input
{
	background: #888;
	color: white;
	font-size: 15px;
	padding: 15px 19px;
	width:  60px;
	margin: 6px;
}

h2
{
	text-align: center;
}

input.sc
{
	width:  auto;
	background: #fff;
	color: #000;
}

table
{
	text-align:  center;
}

.active
{
}