body, *
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

.container
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: 20%;
}

.questions,
.grades,
.quizz
{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.questions
{
	margin: 5px;
	border: 1px solid #333;
}

.question
{
	text-align: center;
	padding: 20px;
	font-size: 20px;
	font-weight: bold;
}

.timer,
.grade,
.lines
{
	width: 300px;
	font-size: 18px;
	padding: 6px;
	justify-content: center;
}

.grades
{
	font-weight: bold;
	text-align: center;
	transition: transform 3s;
}

#count
{
	font-size: 50px;
	padding: 5px;
}

#current-grade
{
	font-size: 25px;
}

#tot
{
	font-size: 30px;
}

#next
{
	font-size: 30px;
	padding: 10px;
	position: absolute;
	bottom: 5px;
	left: 50%;
}

.success-failed
{
	position: absolute;
	left: 50%;
	top: 20%;
	font-size: 23px;
	transform: translate(-50%);
}
