* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background: rgb(59, 147, 214);
    font-family:sans-serif;
}

.container {
    position: absolute;
    top: calc(50% - 200px);
    left: calc(50% - 350px);
    padding: 3px;
    min-width: 700px;
    min-height: 350px;
    border: 1px solid #ddd;
    font-size: 1.2em;
    text-transform: capitalize;
    font-weight: 600;
    color: #222;
}
form#form {
    /* background-color: rgb(238 238 238 / 60%); */
    width: 100%;
    min-height: 100%;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.column {
    width: 48%;
}
.field {
    margin: 10px 0px;
}

input {
    position: relative;
    padding: 12px;
    margin-top: 10px;
    width: 100%;
    text-transform: capitalize;
    font-weight: 600;
    border: 0px;
    outline: 0;
    border-bottom: 1px solid #a7a7a7;
    border-radius: 5px;
}
.birth label::after ,
.username label::after ,
.password label::after ,
.email label::after {
    content: "*";
    position: absolute;
    color: red;
    margin-left: 5px;
    font-size: 16px;
}
input::placeholder {
    color: #a7a7a7;
}

input.register {
    background-color:rgb(0, 187, 255);
    color: white;
    border: 0px;
    border-radius: 5px;
    padding: 12px;
    font-size: 16px;
}

input[type="date"]{
    text-transform: lowercase;
}

.error{
    display: none;
    color: crimson;
    text-align: center;
}