*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#logo{
  width: 50px;
  height: 50px;
}

.navbar{
  justify-content: space-around;
  display: flex;
  flex-direction: row;
}

.liens{
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 5%;
}

.liens li {
  height: 40px;
  border-radius: 5px;
  background-color: lightblue;
  font-size: 20px;
  padding: 10px;
  list-style-type: none;
}

li a {
  color: black;
  text-decoration: none;
}

li a:hover{
  color: blue;
}

div.container{
  display: flex;
  flex-direction: column;
}

.blog-card{
	cursor: pointer;
	transition: box-shadow .5s;
  margin: 20px !important;
  width: 400px;
  height: 100px;
  margin: 0 auto;
  border: .2px solid black;
}

.blog-title{
	text-decoration: none;
  color: blue;
  font-size: 35px;
}

.blog-pub-date{
  opacity: .7;
}

.blog-author{
  font-size: 20px;
  font-weight: bold;
  opacity: .9;
}

.blog-card:hover{
  -webkit-box-shadow: -10px 8px 15px 8px rgba(0,0,0,0.65); 
  box-shadow: -10px 8px 15px 8px rgba(0,0,0,0.65);
}