<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>slide</title>
    <link href="style.css" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/3d7d1bcca5.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="slider">
            <% images.forEach(image => { %>
                <img class="img active" src="<%= image %> " alt="">
            <% }) %>
            <!-- <img class="img active" src="https://image.tmdb.org/t/p/w500/6JjfSchsU6daXk2AKX8EEBjO3Fm.jpg" alt="">
            <img class="img active" src="https://image.tmdb.org/t/p/w500/rugyJdeoJm7cSJL1q4jBpTNbxyU.jpg" alt=""> -->
        </div>
        <i class="fa-regular fa-circle-left prev"></i>
        <i class="fa-regular fa-circle-right next"></i>
    </div>
    <script src="script.js"></script>
</body>
</html>