<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login Form</title>
        <link rel="stylesheet" href="css/login.css">
    </head>
    <body>
        <fieldset>
            <legend>
                <div class="imgs">
                    <img src="https://i.imgur.com/2mCfpJ2.png" alt="" class="user_login">
                </div>
            </legend>
            <form class="form">
                <div class="top">
                    <h1>Login</h1>
                </div>
                <div class="data">
                    <input type="text" class="inputs" placeholder="Email Address">
                    <input type="text" class="inputs" placeholder="Password">
                    <br>
                    <a href="#" class="forgotpsw">Forgot Password?</a>
                </div>
                <br>
                <br>
                <div class="submitdiv">
                    <input type="submit" value="Login" class="submitbtn">
                </div>
                <br>
                <br>
                <div class="footer">
                <p>Not a member? <a onclick='window.location.href="/register"' href="#" class="signupbtn">Signup now</a></p>
                </div>
            </form>
        </fieldset>
        <script src="js/lib.js"></script>
        <script src="js/login.js"></script>
    </body>
</html>
