<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>register</title>
		<link rel="stylesheet" href="css/register.css">
	</head>
	<body>
		<div class="container">
			<div class="error">An error has been detected</div>
			<form id="form">
				<div class="column one">
					<div class="field username">
						<label for="Username_">Username</label>
						<input type="text" name="username" id="Username_" placeholder="your name" required>
					</div>
					<div class="field password">
						<label for="Password_">password</label>
						<input type="password" name="password" id="Password_" placeholder="your password" required>
					</div>
					<div class="field email">
						<label for="Email_">email</label>
						<input type="email" name="email" id="Email_"  placeholder="your email" required>
					</div>
				</div>
				<div class="column two">
					<div class="field phone">
						<label for="Phone_">phone</label>
						<input type="tel" name="phone" id="Phone_">
					</div>
					<div class="field birth">
						<label for="birth">birthday</label>
						<input type="date" name="birthday" id="birth" required>
					</div>
					
					<div class="field Brief">
						<label for="avatar">avatar</label>
						<input type="file" name="avatar" id="avatar">
					</div>
				</div>
				<input type="submit" value="register" class="register">
			</form>
		</div>
		<script src="js/lib.js"></script>
        <script src="js/register.js"></script>
	</body>
</html>