body, *{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container {
	height: 100vh;
	width: 100%;
	object-fit: cover;
}

#head-top {
	border: solid 1px white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 70px;
	font-size: 25px;
}

.input-search-micro {
	margin-top: 10px;
	text-align: center;
	height: 50px;
	display: flex;
	/* flex-direction: row;
	flex-wrap: nowrap;*/
	justify-content: space-around;
	width: 600px;
}

#micro {
	font-size: 25px;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-color: #F7F4F3;
	/* display: flex; */
	margin-top: 10px;
}
.input-search {
	width: 550px;
	background-color: #F7F4F3;
}

#input-field
{
	font-size: 20px;
	margin-left: -15px;
	height: 100%;
	width: 500px;
}

#left-container {
	width: 200px;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.center-left-div-imgs {
	width: 25px;
	height: 25px;
	border-radius: 50%;
}


.left-divs {
	position: absolute;
	float: left;
	height: 100vh;
}

.bottom-left-div,
.center-left-div,
.top-left-div {
	height: 15vh;
}

.top-left-div,
.center-left-div,
.bottom-left-div {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.bottom-left-div-title {
	font-size: 20px;
}
.logos{
	margin-left: 20px;
	margin-top: 21px;
}

#youtube-ic{
	margin-left: 10px;
	color: red;
}

#span-tube {
	margin-left: 0;
}

.left-divs-items{
	font-size: 17px;
	margin-left: 20px;
	height: 30px;
	justify-content: left;
}

.left-divs-items:hover {
	background-color: #555;
	cursor: pointer;
}

.right-icones {
	width: 200px;
	display: flex;
	justify-content: space-around;
}
.right-icones :nth-child(1){
	margin-top: 20px;
	width: 25px;
	height: 25px;
}

#lol {
	width: 40px;
	height: 40px;
	margin-top: 12px;
}

#main-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100vw;
	height: 100vh;
	margin-left: 200px;
	background-color: #F7F4F3;
}

.content {
	margin: 20px 20px 20px 20px;
	height: 200px;
	width: 200px;
}

.contents {
	width: 200px;
	height: 150px;
}

.contents:hover {
	cursor: pointer;
}

.content:hover {
	transform: scale(1.2);
}

.texts {
	margin-left: 5px;
	text-align: justify;
}

.content-logo {
	float: left;
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

.down {
	height: 25px;
	width: 25px;
	border-radius: 50%;
	float: left;
}