body, *{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#container {
	height: 100vh;
	width: 100%;
	object-fit: cover;
	overflow-x: hidden;
}

#head-top {
	border: solid 1px white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 70px;
	font-size: 25px;
}

.input-search-micro {
	margin-top: 10px;
	text-align: center;
	height: 50px;
	display: flex;
	/* flex-direction: row;
	flex-wrap: nowrap;*/
	justify-content: space-around;
	width: 600px;
}

#micro {
	font-size: 25px;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-color: #F7F4F3;
	/* display: flex; */
	margin-top: 10px;
}
.input-search {
	width: 550px;
	background-color: #F7F4F3;

}

#input-field
{
	font-size: 20px;
	margin-left: -15px;
	height: 100%;
	width: calc(100% - 25px);
}

#left-container {
	width: 200px;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.center-left-div-imgs {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	transform: translateY(35%);
}


.left-divs {
	position: absolute;
	float: left;
	height: 100vh;
	width: 200px;
}

.bottom-left-div,
.center-left-div,
.top-left-div {
	height: 15vh;
}

.top-left-div,
.center-left-div,
.bottom-left-div {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.bottom-left-div-title {
	font-size: 20px;
	margin-left: 20px;
}

.logos{
	margin-left: 20px;
	margin-top: 21px;
}

#youtube-ic{
	margin-left: 10px;
	color: red;
}

#span-tube {
	margin-left: 0;
}

.left-divs-items{
	font-size: 17px;
	margin-left: 20px;
	height: 30px;
	justify-content: space-between;
}

.left-divs-items :nth-child(1) {
	width: 25px;
	height: 25px;
	margin-top: 2px;
}

.left-divs-items :nth-child(2),
.left-divs-items :nth-child(2) {
	margin-left: 10px;
	margin-top: 0;
}

.left-divs-items:hover {
	background-color: #555;
	cursor: pointer;
}

.right-icones {
	width: 200px;
	display: flex;
	justify-content: space-around;
}
.right-icones :nth-child(1){
	margin-top: 20px;
	width: 25px;
	height: 25px;
}

#lol {
	width: 40px;
	height: 40px;
	margin-top: 12px;
}

#main-container {
	overflow-x: hidden;
	position: absolute;
	z-index: 1;
	top: 70px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: calc(100% - 200px);
	height: 100vh;
	margin-left: 200px;
	background-color: #F7F4F3;
}

.content {
	margin: 20px 20px 20px 20px;
	height: 200px;
	width: 300px;
	transition: transform 2s;
}

.contents {
	width: 100%;
	height: 150px;
	object-fit: cover;
}

.five-divs {
	justify-content: space-around;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	/* overflow-x: hidden; */

}
.contents:hover {
	cursor: pointer;
}

.content:hover .five-divs :nth-child(1)
{
	margin-left: 100px;
}

.content:hover {
	transform: scale(1.3);
}


.texts {
	margin-left: 5px;
	font-weight: bold;
	text-align: justify;
}
.logosss {
	height: 30px;
}
.pb-date,
.ch-name {
	margin-left: 36px;
	opacity: .8;
}
.content-logo {
	float: left;
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

.ch-name-views {
	height: 20px;
}

.down {
	border-radius: 50%;
	float: left;
}
.left-divs-items .down {
	margin-left: 0;
}

@media screen and (max-width: 1000px)
{
	.input-search-micro {
		width: 300px;
	}			
}