body, *
{
	margin: 0;
	padding: 0;
}

div
{
	width: 350px;
	position: absolute;
	top: 20%;
	left: 50%;
	justify-content: space-between;
	transform: translate(-50%);
	border: solid 2px black;
	overflow: hidden;
}

img
{
	width: 350px;
	height: 350px;
}

p
{
	position: absolute;
	bottom: 0;
	left: 0;
	height: 26px;
	font-size: 22px;
	font-weight: 100;
}

button
{

	position: absolute;
	border-radius: 5px;
	right: 3px;
	bottom: 3px;

}

.anim {
	animation: anim-text 2s 0s cubic-bezier(1, -0.61, 1, 1) forwards;
}

@keyframes anim-text {
	0% 
	{
		left: 0%;
	}

	30%
	{
		left: 10%;
	}
	50%
	{
		left: 20%;
	}

	60%
	{
		left: 40%;
	}

	
	75%
	{
		left: 60%;
	}

	85%
	{
		left: 75%;
	}

	90%
	{
		left: 85%;
	}

	95%
	{
		left: 95%;
	}

	100% 
	{
		left: 100%;
	}
}
