/*-------------------INDEX-------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

:root{
    --black: #1b1b32;
    --white: #fefefe;
    --green: #04a750;
    --gray: #E0E0E0;
}

a{
    text-decoration: none;
}

/*-------------------NAVBAR-------------------*/

img.logo{
    background-color: var(--white);
    border-radius: 20%;
    width: 8rem;
    height: 7rem;
}

nav.navbar{
    background-color: var(--black);
}

.nav-item,
div.nav-end, .search, nav.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;  
  align-items: center;
}

.nav-item{
    flex-direction: column;
    margin: 0 .5rem;
    padding: 0 .5rem;
    font-size: 2rem;
    list-style-type: none;
}

.item{
    color: var(--white);
    text-decoration: none;
}

.search{
    justify-content: flex-start;
    width: 50rem;
    height: 4rem;
    background-color: var(--white);
    overflow: hidden;
    border-radius: 1rem;
    border: .5px solid var(--white);
    align-items: center;
}

#search{
    width: calc(100% - 24px);
    padding: .5rem;
    text-align: center;
    font-size: 1.8rem;
    outline: none;
    border: none;
}

.cart-article{
    position: absolute;
    left: 50%;
    color: red;
}

.material-icons.loupe{
    color: var(--white);
    font-size: 4rem;
    background-color: var(--black);
}

.material-icons.item{
    font-size: 3.5rem;
}

/*---------------------- CONTAINER ---------------*/
div.container{
    display: flex;
    flex-direction: row;
    gap: 5%;
}

/*---------------------- BANNER --------------------*/


/*---------------------- CARD --------------------*/

div.card{
    overflow: hidden;
    border-radius: .5rem;
    text-align: center;
    border: .5px solid black;
    position: relative;
    height: 22rem;
    /* margin: 10rem auto; */
    width: 30rem;
    flex-direction: column;
}

div.pricing,
div.card-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

i.status{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

i.favorite{
    color: rgb(88, 87, 87);
    cursor: pointer;
}

i.favorite:hover{
    color: red;
}

img.card-images{
    width: 70%;
    height: calc(100% - 5rem);
}

.medoc-title{
    font-size: 2.3rem;
}

div.pricing{
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 1.8rem;
    align-items: center;
    background-color: var(--black);
    justify-content: center;
    color: var(--white);
}

.pointer{
    cursor: pointer;
}

/*---------------------- SIDE BAR --------------------*/
div.side-bar{
    height: max-content;
    position: sticky;
    top: 30%;
    left: 2%;
}

.side-row,
div.side-content{
    display: flex;
    flex-direction: column;
}

div.side-content{
    background-color: var(--black);
    margin-top: 2rem;
    padding: 1.5rem;
    width: max-content;
    border-radius: .5rem;
}

.side-row{
    color: var(--white);
    margin: 1rem 0;
    width: max-content;
    flex-direction: row;
    align-items: center;
    font-size: 2rem;
}

.side-row .material-icons{
    margin: 0 .6rem;
}
