body, *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

canvas{
    border: 2px solid black;
}

div.container{
    align-items: center;
    display: flex;
    flex-direction: column;
}

div.options{
    margin-right: 10px;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.speed-div{
    display: flex;
    flex-direction: column;
}

p.titles{
    font-size: 25px;
    color: rgb(194, 26, 26);
}

p.labels{
    font-weight: bold;
    font-size: 20px;
}
p.labels,p.titles,
div.options{
    padding: 10px;
}

select,
input{
    font-size: 20px;
    margin-left: 5px;
}

button.st{
    cursor: pointer;
    width: 100px;
    border-radius: 10px;
    padding: 5px;
    font-size: 20px;
    color: rgb(20, 184, 20);
}

.modals{
    background-color: #555;
    display: flex;
    /* display: none; */
    justify-content: center;
    flex-direction: row;
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 7;

}

#ins{
    height: 50px;
    width: 500px;
}

#ok{
    height: 50px;
}

.infos-player{
    border: .5px solid #1d1d1d;
    border-radius: 10px;
    font-size: 25px;
    width: 25%;
    position: relative;
    left: 50%;
    text-align: center;
    transform: translate(-50%);
}

.player-id{
    font-weight: bold;
}

.infos-player >p{
    padding: 20px;
}

.player-games{
    margin: 0 auto;
    border: .2px solid black;
    padding: 10px;
    margin-top: 5px;
    min-height: 500px;
    height: auto;
    width: 75%;
}

.player-request{
    font-size: 20px;
    border-radius: 5px;
    border: .3px solid #1d1d1d;
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.name,
.dual{
    padding: 5px;
    margin: 5px;
}

.dual{
    background-color: rgb(226, 20, 20);
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
    width: 7%;
}

.ask{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-request,
.modal-options{
    display: none;
    text-align: center;
    z-index: 10;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
}

/* .modal-request{
    display: block;
} */
.wall,
.speed{
    margin: 5px;
    font-size: 20px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.speed p,
.speed input,
.wall select,
.wall p{
    padding: 5px;
}
.req p,
.emplc p{
    color: #1d1d1d;
    font-weight: bold;
}

.req,
.emplc{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    justify-content: space-between;
    height: 15%;
    width: 20%;
    background-color: rgb(190, 190, 190);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.req{
    background-color: rgb(190, 190, 190);
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.buttons,
.param,
.ok-cancel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.req p{
    font-size: 20px;
}

span.player-name{
    color: crimson;
    font-size: 25px;
    display: block;
    padding: 20px;
}

.ok-cancel :nth-child(2){
    background-color: lime;
}

.ok-cancel :nth-child(1){
    background-color: red;
}

.ok-cancel button{
    cursor: pointer;
    margin: 5px;
    border-radius: 10px;
    padding: 5px;
}

.param span{
    color: rgb(4, 196, 4);
}

select{
    border: .1rem dotted black;
    /* border: none; */
}

.buttons button{
    width: 56px;
}

.no-modals{
    margin: 5px;
    border: .5px solid black;
    position: relative;
    display: flex;
    flex-direction: row;
    left: 50%;
    width: 85%;
    transform: translate(-50%);
    justify-content: space-between;
}

p.title{
    text-transform: uppercase;
    padding: 5px;
    border: .1px solid black;
    border-radius: 5px;
    font-size: 25px;
    font-weight: bold;
}

.dual-requests{
    width: 25%;
    text-align: center;
    padding: 10px;
}

div.requests{
    height: auto;
    width: 100%;
    margin: 5px;
    margin-left: 0;
}

p.request{
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    border: 1px dotted black;
}

div.players-infos-rules{
    margin: 20px;
    border: .1px solid black;
    width: 67%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.players-infos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.infos p{
    font-size: 20px;
}

.username{
    font-weight: bold;
}

table{
    margin: 10px;
    border: .5px solid black;
    text-align: center;
    min-width: 30%;
    width: auto;
    border-collapse: collapse;
    box-shadow: 0 5px 50px rgba(0, 0, 0, .15);
}
thead tr{
    color: white;
    background-color: midnightblue;
}

th, td{
    padding: 10px 20px;
}

tbody, th, td, th{
    border: .5px solid #ddd;
}

tbody tr:nth-child(even){
    background-color: #f3f3f3;
}

tr :nth-child(1){
    font-weight: bold;
}

tr:last-of-type{
    border-bottom: 2px solid midnightblue;
}

.infos.tables{
    display: flex;
    flex-direction: row;
}