body, *
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.header{
	position: relative;
}

.container{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/* border: 2px solid black; */
	width: 80%;
	height: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.top,
.center,
.right{
	text-align: justify;
	display: flex;
	flex-direction: column;
}

.img{
	height: 400px;
}
.right{
	border: 1px solid ;
	background-color: #e5e2e2;
	width: 50%;
	transform: translateY(-5%);
	padding: 20px;
	margin: auto auto;
}

.bottom-d{
	justify-content: space-between;
	padding: 20px;
	display: flex;
	flex-direction: row;
}

.top{
	font-size: 30px;
	border: none;
	border-bottom: 2px solid #9e9d9d;
}

.center{
	border: none;
	border-bottom: 2px solid #9e9d9d;
}

p.bold{
	font-weight: bold;
}

p{
	padding: 10px;
}

.green{
	color: #09a766;
}

button{
	padding: 5px;
	border-radius: 8px;
	color: white;
	font-size: 20px;
	background-color: #09a766;
	cursor: pointer;
}

.price,
.row{
	display: flex;
	flex-direction: row;
}

.price{
	justify-content: space-between;
}

#number{
	margin-right: 5px;
	height: 25px;
	width: 50px;
}

.rt-price{
	display: flex;
	margin-top: 5px;
}

