body, *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-header{
    /* background-color: #09a766; */
    background-color: #1D1D25;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#logo{
    background-color: white;
    border-radius: 20%;
    width: 70px;
    height: 50px;
}

.top-header-right,
.top-header-left{
    margin: 10px;
    width: calc(25%);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: center;
    justify-content: space-between;
}

.top-header-left{
    display: none;
    font-size: 20px;
    border: 2px solid white;
    background-color: white;
    border-radius: 10px;
    height: 50px;
}

.top-header-center{
    text-transform: capitalize;
    align-items: center;
}

.top-header-right{
    margin-right: 100px;
}

#search{
    text-align: center;
    border-radius: 10px;
    border: none;
    width: calc(100% - 30px);
}

i.lol{
    cursor: pointer;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

i.pad{
    padding: 5px; 
}

.head{
    cursor: pointer;
    font-size: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.items{
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.item{
    cursor: pointer;
    position: relative;
    align-items: center;
    margin: 15px;
    transition: box-shadow .5s;
    margin-top: 25px;
    border: 2px solid #09a766;
    width: 20%;
    height: 300px;
    border-radius: 10px;
}

.item:hover
{
    box-shadow: 5px 5px 5px #1d1d1d;
}

.item-image
{
    text-align: center;
    width: 85%;
    height: 185px;
}

.top{
    font-size: 20px;
    margin: 0 3px;
    padding: 2px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fa-circle-check{
    transition: transform 1s;
    color: #09a766;
}

i.add,
.fa-heart:hover{
    transform: scale(1.2);
}

.item,
.bottom{
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.bottom{
    width: 100%;
    position: absolute;
    bottom: 0;
}
p.title{
    width: 100%;
    font-size: 22px;
    padding: 5px;
    color: #09a766;
}

p.description {
    font-size: 15px;
}
p.prices{
    float: bottom;
    background-color: #09a766;
    color: white;
    font-weight: bold;
}

i.add{
    padding: 5px;
    cursor: pointer;
    transition: transform 1s;
}

.hidden{
    display: none;
}

.cart{
    position: relative;
}

div.total{
    color: white;
    background-color: #595858;
    z-index: 1;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

.fa-trash-can{
    color: red;
}

.bookmark{
    z-index: 2;
}

.active{
    color: rgb(243, 85, 85);
}

.icon{
    display: none;
    font-size: 50px;
    position: absolute;
    top: 2px;
    right: 5px;
}

img.avatar{
    margin: 3px;
    text-align: center;
    border-radius: 50%;
	width: 40px;
	height: 25px;
}

.head.login{
    align-items: center;
}

.footer{
    display: flex;
    flex-direction: column;
}

.level2,
.level1
{
    background-color: rgb(6, 28, 37);
    color: rgb(209, 218, 222);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.level1 >p
{
    font-size: 20px;
    margin: 0 auto;
    padding: 20px;
}

.level2
{
    background-color: #292929;
    color: #09a766;
}

.sug{
    text-transform: uppercase;
    font-size: 15px;
    padding: 30px;
    text-decoration: none;
    background-color: #292929;
    color: white;
}

.level3
{
    color: white;
    display: flex;
    flex-direction: column;
    background-color: #1d1d1d;
    text-align: center;
}

.fa-brands
{
    border-radius: 50%;
    margin: 5px;
    background-color: #292929;
    padding: 10px;
}
.level32
{
    padding: 5px;
}

.level33
{
    padding: 10px;
    margin: 0 auto;
    width: 50%;
}

.level34
{
    margin: auto auto;
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
}

p.logos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}